.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(175, 216, 248, 0.9);
}

.start-node {
  background: url("../../../assets/start.svg") no-repeat center center;
}
.finish-node {
  background: url("../../../assets/finish.svg") no-repeat center center;
}
.start-node,
.finish-node {
  cursor: pointer;
  background-size: cover;
}
.wall {
  background-color: rgba(31, 53, 65, 1);
  border-color: rgba(31, 53, 65, 1);
}

.node-visited {
  animation: visitedNodeAnimation 1.2s 1 ease-out forwards alternate;
  /* animation-delay: -2.5s; */
}
@keyframes visitedNodeAnimation {
  0% {
    transform: scale(0.3);
    background-color: #2e8bc0;
    border-radius: 100%;
  }

  50% {
    background-color: #2e8bc0;
  }

  75% {
    transform: scale(1.2);
    background-color: #2e8bc0;
  }

  100% {
    transform: scale(1);
    background-color: #5289b5;
  }
}
.node-shortest-path {
  animation: shortestPath 1.5s ease-out alternate 1 forwards;
}
@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
