.navbar {
  width: 100%;
  margin: auto;
  background-color: #1f3541;
  display: flex;
  /* height: 50px; */
  flex-wrap: wrap;
  /* padding: 0 40px; */
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.title {
  justify-self: flex-start;
  cursor: pointer;
  /* margin-left: 100px; */
  /* margin-right: 20px; */
  padding: 0 10px;
  /* background-color: red; */
  font-size: 30px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-links li {
  margin-left: 20px;
}
.nav-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  outline: none;
  margin: 0;
  /* font-weight: bold; */
  color: white;
  padding: 10px 14px;
  position: relative;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: rgba(220, 20, 60, 0.7);
}

.fa-caret-down {
  margin: 5px;
  display: inline-block;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #1f3541;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  z-index: 2;
}

.dropdown-content li {
  margin: 2px 0;
  display: block;
}
.dropdown-content li a {
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff !important;
}
.dropdown-content a:hover {
  background-color: rgba(220, 20, 60, 0.7);
  border-radius: 4px;
}
.active {
  background-color: rgba(220, 20, 60, 0.7);
}

.show {
  display: block;
}
#visualizebtn a {
  background-color: rgba(220, 20, 60, 0.7);
  padding: 15px 50px;
  line-height: 0.2em;
  width: 300px;
  text-align: center;
  border: 1px solid rgba(220, 20, 60, 0.7);
  transition: all 0.4s ease-in-out;
}
#visualizebtn a:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.horizontal {
  display: inline-block !important;
}

@media screen and (max-width: 600px) {
  .nav-links {
    text-align: center;
    display: block;
  }
  .dropdown-content {
    border: none;
    text-align: center;
    box-shadow: none;
    top: -10px;
    z-index: 2;
    padding: 10px;
    margin: 0;
  }
  .dropdown-content li {
    margin: 2px 0;
    display: block;
  }
  .horizontal {
    display: block !important;
  }
  .show {
    display: block;
    position: relative;
  }
  .active {
    background-color: #1f3541;
  }
}
